
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 114rem;
}.item--ZEr {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .item--oez {
    box-sizing: border-box;
    height: 7rem;
    padding: 1.4rem 1.7rem 1.9rem 1.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    border: solid 0 #000000;
    background-color: #ffcc8d;
    flex-shrink: 0;

    .item--gCz {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.7rem 1.2rem 0rem 0rem;
      width: 2.5rem;
      height: 1.4rem;
    }
    .item--MK8 {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.155;
      color: #1f4c6a;
      font-family: Yeseva One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 54.6rem;
    }
    .item--ep2 {
      margin: 0.9rem 9.1rem 0.3rem 0rem;
      line-height: 1.15;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.3rem;
      font-size: 1.4rem;
      align-items: center;
      box-sizing: border-box;
      font-weight: 400;
      border: solid 0.1rem #1f4c6a;
      border-radius: 2.9rem;
      flex-shrink: 0;
      height: calc(100% - 1.2rem);
      color: #1f4c6a;
      display: flex;
      justify-content: center;
    }
    .item--2Zg {
      position: relative;
      border: solid 0.1rem #1f4c6a;
      box-sizing: border-box;
      border-radius: 2.9rem;
      flex-shrink: 0;
      margin: 0.9rem 9.1rem 0.3rem 0rem;
      width: 8.3rem;
      height: calc(100% - 1.2rem);

      .item--KHt {
        font-weight: 400;
        line-height: 1.15;
        white-space: nowrap;
        width: 5.3rem;
        height: 1.7rem;
        position: absolute;
        font-size: 1.4rem;
        left: 1.9rem;
        top: 0.4rem;
        color: #1f4c6a;
        font-family: Arimo, 'Source Sans Pro';
      }
      .item--Cca {
        position: absolute;
        font-size: 1.4rem;
        color: #1f4c6a;
        box-sizing: border-box;
        left: 0;
        font-family: Arimo, 'Source Sans Pro';
        display: flex;
        border-radius: 2.9rem;
        width: 8.3rem;
        top: 0;
        font-weight: 400;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        line-height: 1.15;
        border: solid 0.1rem #1f4c6a;
      }
    }
    .item--at2 {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.15;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
      border: solid 0.1rem #1f4c6a;
      border-radius: 2.9rem;
      box-sizing: border-box;
      padding: 0.4rem 0rem 0.4rem 1.1rem;
      height: calc(100% - 1.2rem);
      color: #1f4c6a;
      flex-shrink: 0;
      margin: 0.9rem 0rem 0.3rem 0rem;
    }
  }
  .auto-group-dqwn-MnJ {
    width: 100%;
    height: 41.5rem;
    flex-shrink: 0;

    .item--hrA {
      box-sizing: border-box;
      padding: 7.2rem 6.1rem 7.6rem 3.1rem;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #ffcc8d;

      .item--oPQ {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.155;
        color: #000000;
        font-family: Yeseva One, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 8rem;
        max-width: 65.5rem;

        .item--oPQ-sub-0 {
          font-family: Yeseva One, 'Source Sans Pro';
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.155;
          color: #1f4c6a;
        }
        .item--oPQ-sub-1 {
          color: #000000;
          font-family: Yeseva One, 'Source Sans Pro';
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.155;
        }
        .item--oPQ-sub-2 {
        }
        .item--oPQ-sub-3 {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
        }
      }
      .auto-group-yfxw-EYa {
        height: calc(100% - 15.8rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 7.6rem 0rem 8.2rem 0rem;

        .item--LrW {
          color: #1f4c6a;
          font-family: Yeseva One, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.8rem 1.2rem 0rem;
          font-size: 6.4rem;
          font-weight: 400;
          line-height: 1.155;
        }
        .item--qoG {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-vmql-i6N {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.1rem 19.7rem 91.1rem 14.1rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #92c2ba;

    .item--274 {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 2.7rem 4.1rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.155;
      color: #1f4c6a;
      font-family: Yeseva One, 'Source Sans Pro';
    }
    .auto-group-qhu6-JqG {
      width: 74.7rem;
      font-family: Arimo, 'Source Sans Pro';
      border: solid 0.3rem #1f4c6a;
      border-radius: 2rem;
      margin: 0rem 0rem 17.9rem 5.5rem;
      box-sizing: border-box;
      padding: 1.3rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.15;
      color: #1f4c6a;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .item--AMg {
      font-size: 6rem;
      font-weight: 400;
      line-height: 1.15;
      color: #000000;
      font-family: Arimo, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 1.5rem;
      max-width: 78.7rem;
    }
  }
}
