
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 114rem;
}.item--iDQ {
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 57.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .item--nUA {
    display: flex;
    border: solid 0 #000000;
    box-sizing: border-box;
    padding: 1.4rem 1.7rem 1.9rem 1.8rem;
    width: 100%;
    height: 7rem;
    align-items: center;
    background-color: #ffcc8d;
    flex-shrink: 0;

    .item--5iA {
      width: 2.5rem;
      height: 1.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.7rem 1.2rem 0rem 0rem;
    }
    .item--yoY {
      flex-shrink: 0;
      margin-right: 54.6rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.155;
      color: #1f4c6a;
      font-family: Yeseva One, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item--HpE {
      border: solid 0.1rem #1f4c6a;
      margin: 0.9rem 9.1rem 0.3rem 0rem;
      width: 8.3rem;
      line-height: 1.15;
      align-items: center;
      color: #1f4c6a;
      white-space: nowrap;
      display: flex;
      border-radius: 2.9rem;
      font-weight: 400;
      font-family: Arimo, 'Source Sans Pro';
      justify-content: center;
      flex-shrink: 0;
      height: calc(100% - 1.2rem);
      font-size: 1.4rem;
      box-sizing: border-box;
    }
    .item--uai {
      height: calc(100% - 1.2rem);
      position: relative;
      border: solid 0.1rem #1f4c6a;
      box-sizing: border-box;
      border-radius: 2.9rem;
      flex-shrink: 0;
      margin: 0.9rem 9.1rem 0.3rem 0rem;
      width: 8.3rem;

      .item--QXU {
        left: 1.9rem;
        top: 0.4rem;
        font-weight: 400;
        white-space: nowrap;
        font-family: Arimo, 'Source Sans Pro';
        width: 5.3rem;
        height: 1.7rem;
        position: absolute;
        font-size: 1.4rem;
        line-height: 1.15;
        color: #1f4c6a;
      }
      .item--6v6 {
        border-radius: 2.9rem;
        width: 8.3rem;
        height: 2.5rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem #1f4c6a;
        box-sizing: border-box;

        .item--DE2 {
          position: absolute;
          font-weight: 400;
          line-height: 1.15;
          white-space: nowrap;
          width: 5.3rem;
          height: 1.7rem;
          left: 1.9rem;
          top: 0.4rem;
          font-size: 1.4rem;
          color: #1f4c6a;
          font-family: Arimo, 'Source Sans Pro';
        }
        .item--WU2 {
          width: 8.3rem;
          font-weight: 400;
          white-space: nowrap;
          display: flex;
          position: absolute;
          top: 0;
          font-size: 1.4rem;
          border-radius: 2.9rem;
          height: 2.5rem;
          left: 0;
          color: #1f4c6a;
          font-family: Arimo, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          line-height: 1.15;
        }
      }
    }
    .item--6h8 {
      font-weight: 400;
      white-space: nowrap;
      background-color: #1f4c6a;
      padding: 0.4rem 0rem 0.4rem 1.1rem;
      font-size: 1.4rem;
      height: calc(100% - 1.2rem);
      line-height: 1.15;
      color: #ffffff;
      font-family: Arimo, 'Source Sans Pro';
      border-radius: 2.9rem;
      flex-shrink: 0;
      margin: 0.9rem 0rem 0.3rem 0rem;
      box-sizing: border-box;
    }
  }
  .auto-group-5bmk-gvE {
    height: 79.7rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .item--D9U {
      left: 0;
      top: 0;
      width: 114rem;
      height: 45rem;
      position: absolute;

      .rectangle-3-vZg {
        left: 0;
        top: 0;
        background-color: #ffcc8d;
        width: 114rem;
        height: 41.5rem;
        position: absolute;
      }
      .item--4vn {
        font-weight: 400;
        font-family: Arimo, 'Source Sans Pro';
        width: 34.4rem;
        left: 76.6rem;
        top: 23.4rem;
        font-size: 2rem;
        white-space: nowrap;
        height: 2.3rem;
        position: absolute;
        line-height: 1.15;
        color: #000000;
      }
      .item--ikS {
        white-space: nowrap;
        width: 18.1rem;
        position: absolute;
        top: 14.8rem;
        font-size: 6.4rem;
        font-family: Yeseva One, 'Source Sans Pro';
        height: 7.4rem;
        left: 80.8rem;
        font-weight: 400;
        line-height: 1.155;
        color: #1f4c6a;
      }
      .item--ECz {
        font-size: 3.2rem;
        line-height: 1.155;
        color: #000000;
        height: 37.8rem;
        position: absolute;
        top: 7.2rem;
        font-family: Yeseva One, 'Source Sans Pro';
        width: 60rem;
        left: 3.1rem;
        font-weight: 400;

        .item--ECz-sub-0 {
          line-height: 1.155;
          color: #1f4c6a;
          font-family: Yeseva One, 'Source Sans Pro';
          font-size: 4rem;
          font-weight: 400;
        }
        .item--ECz-sub-1 {
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.155;
          color: #000000;
          font-family: Yeseva One, 'Source Sans Pro';
        }
        .item--ECz-sub-2 {
        }
        .item--ECz-sub-3 {
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          font-size: 3.2rem;
        }
      }
    }
    .rectangle-30-2yQ {
      position: absolute;
      left: 0;
      top: 41.1rem;
      background-color: #ffffff;
      width: 114rem;
      height: 38.6rem;
    }
    .item--kuQ {
      color: #000000;
      font-family: Arimo, 'Source Sans Pro';
      width: 24rem;
      position: absolute;
      font-weight: 400;
      line-height: 1.15;
      font-size: 1.2rem;
      height: 6.9rem;
      left: 16.45rem;
      top: 63.6rem;
      text-align: center;
    }
    .free-icon-globe-1533333-1-42v {
      position: absolute;
      left: 23.5rem;
      top: 47.2rem;
      object-fit: cover;
      vertical-align: top;
      width: 10rem;
      height: 10rem;
    }
    .item--mi2 {
      line-height: 1.155;
      color: #1f4c6a;
      height: 2rem;
      position: absolute;
      left: 18.1rem;
      top: 57.8rem;
      font-size: 1.7rem;
      font-weight: 400;
      white-space: nowrap;
      width: 20.8rem;
      font-family: Yeseva One, 'Source Sans Pro';
    }
    .item--SpA {
      position: absolute;
      top: 57.8rem;
      white-space: nowrap;
      width: 8.8rem;
      height: 2rem;
      left: 52.6rem;
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 1.155;
      color: #1f4c6a;
      font-family: Yeseva One, 'Source Sans Pro';
    }
    .item--8S6 {
      width: 11.6rem;
      font-weight: 400;
      line-height: 1.155;
      height: 2rem;
      position: absolute;
      left: 79.6rem;
      top: 57.8rem;
      font-size: 1.7rem;
      color: #1f4c6a;
      font-family: Yeseva One, 'Source Sans Pro';
      white-space: nowrap;
    }
    .line-7-ppi {
      position: absolute;
      left: 16.9rem;
      top: 60.3rem;
      background-color: #000000;
      width: 23rem;
      height: 0.1rem;
    }
    .line-8-xR8 {
      position: absolute;
      left: 50.5rem;
      top: 60.3rem;
      background-color: #000000;
      width: 13rem;
      height: 0.1rem;
    }
    .line-9-t3t {
      background-color: #000000;
      width: 15rem;
      height: 0.1rem;
      position: absolute;
      left: 78rem;
      top: 60.3rem;
    }
    .item-16--1eJ {
      height: 9.7rem;
      text-align: center;
      font-weight: 400;
      color: #000000;
      line-height: 1.15;
      font-family: Arimo, 'Source Sans Pro';
      width: 22rem;
      position: absolute;
      left: 45.95rem;
      top: 62.9rem;
      font-size: 1.2rem;
    }
    .item--51t {
      line-height: 1.15;
      font-family: Arimo, 'Source Sans Pro';
      position: absolute;
      top: 61.6rem;
      text-align: center;
      font-size: 1.2rem;
      color: #000000;
      width: 20.3rem;
      height: 13.8rem;
      left: 75.3rem;
      font-weight: 400;
    }
    .free-icon-clipboard-871947-1-d5L {
      width: 10rem;
      height: 10rem;
      position: absolute;
      left: 52rem;
      top: 47.2rem;
      object-fit: cover;
      vertical-align: top;
    }
    .free-icon-information-932010-1-M1L {
      top: 47.2rem;
      object-fit: cover;
      vertical-align: top;
      width: 10rem;
      height: 10rem;
      position: absolute;
      left: 80.5rem;
    }
  }
  .auto-group-4fyk-G8J {
    width: 100%;
    height: 496.5rem;
    position: relative;
    background-color: #92c2ba;
    flex-shrink: 0;

    .auto-group-ay3t-aen {
      align-items: center;
      width: 99.6rem;
      height: 59.7rem;
      position: absolute;
      left: 7.3rem;
      top: 10.2rem;
      display: flex;

      .auto-group-dtmx-J4z {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 7.2rem;
        width: 25rem;

        .auto-group-tnmy-SBC {
          width: 100%;
          height: 25.8rem;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 8.3rem;

          .mask-group-mjG {
            position: absolute;
            left: 0;
            top: 0.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 25rem;
            height: 25rem;
          }
          .ellipse-3-uKg {
            height: 3.5rem;
            position: absolute;
            background-color: rgba(31, 76, 106, 0);
            border-radius: 1.75rem;
            width: 3.5rem;
            left: 19.4rem;
            top: 0;
            border: solid 0.1rem #1f4c6a;
            box-sizing: border-box;
          }
          .item-1-QGS {
            line-height: 1.155;
            height: 2.4rem;
            position: absolute;
            left: 20.7rem;
            font-weight: 400;
            font-family: Yeseva One, 'Source Sans Pro';
            white-space: nowrap;
            width: 0.9rem;
            top: 0.6rem;
            font-size: 2rem;
            color: #1f4c6a;
          }
          .item--VYn {
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
            height: 6rem;
            left: 6.55rem;
            top: 9.3rem;
            font-weight: 700;
            line-height: 1.15;
            width: 14.5rem;
            position: absolute;
            text-align: center;
            font-size: 1.3rem;
          }
        }
        .auto-group-quen-WTt {
          position: relative;
          flex-shrink: 0;
          width: 100%;
          height: 25.6rem;

          .mask-group-TP8 {
            vertical-align: top;
            width: 25rem;
            height: 25rem;
            position: absolute;
            left: 0;
            top: 0.6rem;
            object-fit: contain;
          }
          .ellipse-6-Q3U {
            height: 3.5rem;
            position: absolute;
            left: 19.4rem;
            box-sizing: border-box;
            background-color: rgba(31, 76, 106, 0);
            border-radius: 1.75rem;
            width: 3.5rem;
            top: 0;
            border: solid 0.1rem #1f4c6a;
          }
          .item-4-WsC {
            height: 2.4rem;
            font-weight: 400;
            color: #1f4c6a;
            font-family: Yeseva One, 'Source Sans Pro';
            width: 1.2rem;
            position: absolute;
            left: 20.6rem;
            top: 0.6rem;
            font-size: 2rem;
            line-height: 1.155;
            white-space: nowrap;
          }
          .item--pcz {
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.15;
            color: #000000;
            position: absolute;
            left: 7.35rem;
            top: 8.2rem;
            font-family: Arimo, 'Source Sans Pro';
            width: 12.8rem;
            height: 6rem;
            text-align: center;
          }
        }
      }
      .item--FiJ {
        width: 35rem;
        height: calc(100% - 24.7rem);
        position: relative;
        flex-shrink: 0;
        margin: 12.7rem 7.4rem 12rem 0rem;

        .ellipse-1-v3k {
          height: 6.5328rem;
          position: absolute;
          left: 19.9738rem;
          top: 0.3754rem;
          object-fit: contain;
          vertical-align: top;
          width: 6.5328rem;
        }
        .ellipse-1-eVY {
          width: 7.0711rem;
          height: 7.0711rem;
          position: absolute;
          left: 24.571rem;
          top: 3.3579rem;
          object-fit: contain;
          vertical-align: top;
        }
        .ellipse-1-nbk {
          position: absolute;
          left: 28.0806rem;
          top: 8.5rem;
          object-fit: contain;
          vertical-align: top;
          width: 6.5328rem;
          height: 6.5328rem;
        }
        .ellipse-1-Jpz {
          position: absolute;
          left: 30rem;
          top: 15rem;
          background-color: #ffcc8d;
          border-radius: 2.5rem;
          width: 5rem;
          height: 5rem;
        }
        .ellipse-1-SAW {
          width: 6.5328rem;
          height: 6.5328rem;
          position: absolute;
          left: 28.0918rem;
          top: 19.9738rem;
          object-fit: contain;
          vertical-align: top;
        }
        .ellipse-1-mia {
          left: 24.5711rem;
          top: 24.5711rem;
          object-fit: contain;
          vertical-align: top;
          width: 7.071rem;
          height: 7.0711rem;
          position: absolute;
        }
        .ellipse-1-i82 {
          height: 6.5328rem;
          position: absolute;
          left: 19.9738rem;
          top: 28.0918rem;
          object-fit: contain;
          vertical-align: top;
          width: 6.5328rem;
        }
        .ellipse-1-FNr {
          width: 5rem;
          height: 5rem;
          position: absolute;
          left: 15rem;
          top: 30rem;
          background-color: #ffcc8d;
          border-radius: 2.5rem;
        }
        .ellipse-1-Ysk {
          width: 6.5328rem;
          height: 6.5328rem;
          position: absolute;
          left: 8.4806rem;
          top: 28.1172rem;
          object-fit: contain;
          vertical-align: top;
        }
        .ellipse-1-Gok {
          vertical-align: top;
          width: 7.0711rem;
          height: 7.0711rem;
          position: absolute;
          left: 3.3579rem;
          top: 24.5711rem;
          object-fit: contain;
        }
        .ellipse-1-1WS {
          width: 6.5328rem;
          height: 6.5328rem;
          position: absolute;
          left: 0.3754rem;
          top: 19.9738rem;
          object-fit: contain;
          vertical-align: top;
        }
        .ellipse-1-YWN {
          background-color: #ffcc8d;
          border-radius: 2.5rem;
          width: 5rem;
          height: 5rem;
          position: absolute;
          left: 0;
          top: 15rem;
        }
        .ellipse-1-tKL {
          left: 0.3754rem;
          top: 8.4933rem;
          object-fit: contain;
          vertical-align: top;
          width: 6.5328rem;
          height: 6.5328rem;
          position: absolute;
        }
        .ellipse-1-pyg {
          vertical-align: top;
          width: 7.071rem;
          height: 7.0711rem;
          position: absolute;
          left: 3.3579rem;
          top: 3.3579rem;
          object-fit: contain;
        }
        .ellipse-1-NEW {
          left: 8.4934rem;
          top: 0.3754rem;
          object-fit: contain;
          vertical-align: top;
          width: 6.5328rem;
          height: 6.5328rem;
          position: absolute;
        }
        .ellipse-1-Va2 {
          border: solid 0.5rem #ffffff;
          border-radius: 2.5rem;
          width: 5rem;
          height: 5rem;
          position: absolute;
          top: 0;
          left: 15rem;
          box-sizing: border-box;
          background-color: #ffcc8d;
        }
        .ellipse-2-1YN {
          position: absolute;
          left: 15rem;
          top: 14.95rem;
          background-color: #ffcc8d;
          border-radius: 2.5rem;
          width: 5rem;
          height: 5rem;
        }
        .icons8-48-1-jUN {
          height: 3.5rem;
          position: absolute;
          left: 21.5rem;
          top: 1.9rem;
          object-fit: cover;
          vertical-align: top;
          width: 3.5rem;
        }
        .free-icon-economy-5403444-1-erE {
          object-fit: cover;
          vertical-align: top;
          width: 3.5rem;
          height: 3.5rem;
          position: absolute;
          left: 15.75rem;
          top: 0.75rem;
        }
        .free-icon-foster-family-3636519-1-NXL {
          top: 10rem;
          object-fit: cover;
          vertical-align: top;
          width: 3.5rem;
          height: 3.5rem;
          position: absolute;
          left: 29.6rem;
        }
        .free-icon-working-conditions-8062223-1-syt {
          width: 3.5rem;
          height: 3.5rem;
          position: absolute;
          left: 26.35rem;
          top: 5rem;
          object-fit: cover;
          vertical-align: top;
        }
        .free-icon-life-insurance-1518636-1-PxE {
          vertical-align: top;
          width: 3.5rem;
          height: 3.5rem;
          position: absolute;
          left: 30.75rem;
          top: 15.7rem;
          object-fit: cover;
        }
        .free-icon-ecology-2823549-1-uva {
          position: absolute;
          left: 26.35rem;
          top: 26.35rem;
          object-fit: cover;
          vertical-align: top;
          width: 3.5rem;
          height: 3.5rem;
        }
        .free-icon-ecommerce-1126691-1-q3Y {
          top: 29.6rem;
          object-fit: cover;
          vertical-align: top;
          width: 3.5rem;
          height: 3.5rem;
          position: absolute;
          left: 21.5rem;
        }
        .free-icon-public-transport-5280277-1-Yie {
          top: 26.35rem;
          object-fit: cover;
          vertical-align: top;
          width: 3.5rem;
          height: 3.5rem;
          position: absolute;
          left: 5.15rem;
        }
        .free-icon-doctor-3062992-1-sW2 {
          vertical-align: top;
          width: 3.5rem;
          height: 3.5rem;
          position: absolute;
          left: 10rem;
          top: 29.6rem;
          object-fit: cover;
        }
        .free-icon-cinema-1773609-1-CHQ {
          width: 3.5rem;
          height: 3.5rem;
          position: absolute;
          left: 1.9rem;
          top: 21.5rem;
          object-fit: cover;
          vertical-align: top;
        }
        .free-icon-investment-6665917-1-WYz {
          vertical-align: top;
          width: 3.5rem;
          height: 3.5rem;
          position: absolute;
          left: 15.75rem;
          top: 30.75rem;
          object-fit: cover;
        }
        .free-icon-calculator-2488864-1-ddc {
          height: 3.5rem;
          position: absolute;
          left: 0.75rem;
          top: 15.7rem;
          object-fit: cover;
          vertical-align: top;
          width: 3.5rem;
        }
        .free-icon-ecommerce-3829391-1-9rr {
          top: 5.15rem;
          object-fit: cover;
          vertical-align: top;
          width: 3.5rem;
          height: 3.5rem;
          position: absolute;
          left: 5.15rem;
        }
        .free-icon-house-7100328-1-faJ {
          width: 3.5rem;
          height: 3.5rem;
          position: absolute;
          left: 10rem;
          top: 1.9rem;
          object-fit: cover;
          vertical-align: top;
        }
        .free-icon-coat-of-arms-2251898-1-axA {
          object-fit: cover;
          vertical-align: top;
          width: 3.5rem;
          height: 3.5rem;
          position: absolute;
          left: 15.75rem;
          top: 15.7rem;
        }
        .free-icon-innovation-3488893-1-JtA {
          height: 3.5rem;
          position: absolute;
          left: 1.9rem;
          top: 10rem;
          object-fit: cover;
          vertical-align: top;
          width: 3.5rem;
        }
        .free-icon-social-8107513-1-vHG {
          width: 3.5rem;
          height: 3.5rem;
          position: absolute;
          left: 29.6rem;
          top: 21.5rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-t6we-Rzi {
        flex-direction: column;
        flex-shrink: 0;
        width: 25rem;
        height: 100%;
        align-items: center;
        display: flex;

        .auto-group-omxn-a6v {
          flex-shrink: 0;
          margin-bottom: 8rem;
          width: 100%;
          height: 25.8rem;
          position: relative;

          .mask-group-u9C {
            background-image: url('REPLACE_IMAGE:KzoruqF9zbwNg4uXyvWc5p');
            padding: 8.1rem 7.6rem 9.4rem 5.4rem;
            height: 25rem;
            top: 0.8rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            box-sizing: border-box;
            width: 25rem;
            position: absolute;
            left: 0;

            .item--PaA {
              color: #000000;
              font-family: Arimo, 'Source Sans Pro';
              max-width: 12rem;
              text-align: center;
              font-size: 1.3rem;
              font-weight: 700;
              line-height: 1.15;
            }
          }
          .ellipse-4-o86 {
            top: 0;
            background-color: rgba(134, 151, 162, 0);
            border-radius: 1.75rem;
            height: 3.5rem;
            left: 2.2rem;
            border: solid 0.1rem #1f4c6a;
            box-sizing: border-box;
            width: 3.5rem;
            position: absolute;
          }
          .item-2-Uk2 {
            width: 1.2rem;
            left: 3.4rem;
            font-size: 2rem;
            font-weight: 400;
            font-family: Yeseva One, 'Source Sans Pro';
            white-space: nowrap;
            height: 2.4rem;
            position: absolute;
            top: 0.6rem;
            line-height: 1.155;
            color: #1f4c6a;
          }
        }
        .auto-group-yuxc-Ask {
          position: relative;
          flex-shrink: 0;
          width: 100%;
          height: 25.9rem;

          .mask-group-GQz {
            left: 0;
            background-size: cover;
            background-position: center;
            background-image: url('REPLACE_IMAGE:Kzos7fEnHmJJvh8s5BqHBx');
            box-sizing: border-box;
            padding: 6.9rem 7.05rem 10.6rem 5.45rem;
            width: 25rem;
            height: 25rem;
            position: absolute;
            top: 0.9rem;
            background-repeat: no-repeat;

            .item--8i6 {
              max-width: 12.5rem;
              text-align: center;
              font-size: 1.3rem;
              font-weight: 700;
              line-height: 1.15;
              color: #000000;
              font-family: Arimo, 'Source Sans Pro';
            }
          }
          .ellipse-5-ucN {
            box-sizing: border-box;
            background-color: rgba(31, 76, 106, 0);
            border: solid 0.1rem #1f4c6a;
            height: 3.5rem;
            position: absolute;
            left: 2.2rem;
            top: 0;
            border-radius: 1.75rem;
            width: 3.5rem;
          }
          .item-3-pDY {
            white-space: nowrap;
            width: 1.2rem;
            left: 3.4rem;
            color: #1f4c6a;
            font-family: Yeseva One, 'Source Sans Pro';
            font-weight: 400;
            line-height: 1.155;
            height: 2.4rem;
            position: absolute;
            top: 0.6rem;
            font-size: 2rem;
          }
        }
      }
    }
    .item--KRC {
      height: 3.7rem;
      position: absolute;
      line-height: 1.155;
      color: #1f4c6a;
      width: 39rem;
      left: 37.4rem;
      top: 1.9rem;
      font-size: 3.2rem;
      font-weight: 400;
      font-family: Yeseva One, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item--zXL {
      width: 30.3rem;
      line-height: 1.155;
      color: #1f4c6a;
      font-family: Yeseva One, 'Source Sans Pro';
      height: 3.7rem;
      position: absolute;
      left: 41.8rem;
      top: 75.4rem;
      font-size: 3.2rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .line-10-UBc {
      left: 34.5rem;
      top: 6.4rem;
      background-color: #1f4c6a;
      width: 45rem;
      height: 0.2rem;
      position: absolute;
    }
    .line-11-ojg {
      width: 45rem;
      height: 0.2rem;
      position: absolute;
      left: 34.5rem;
      top: 79.8rem;
      background-color: #1f4c6a;
    }
    .item-1-kQ2 {
      width: 72.2rem;
      height: 9.8rem;
      position: absolute;
      left: 21.1rem;
      top: 84.9rem;

      .rectangle-31-TJS {
        height: 9.8rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #d9d9d9;
        width: 9.8rem;
      }
      .rectangle-32-nrW {
        height: 9.8rem;
        position: absolute;
        left: 9.8rem;
        top: 0;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 62.4rem;
      }
      .item-1-ikA {
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        width: 72.2rem;
        height: 9.8rem;
        position: absolute;

        .auto-group-fd3q-poC {
          flex-direction: column;
          border: solid 0.1rem #000000;
          background-color: #ffcc8d;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.4rem 0.5rem 1rem 1.6rem;
          height: 100%;
          align-items: center;
          display: flex;

          .free-icon-economy-5403444-2-8Yz {
            margin-right: 1.1rem;
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item--rE6 {
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.15;
          }
        }
        .auto-group-em9c-jHt {
          background-color: #92c2ba;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.5rem 6.55rem 0.8rem 6.45rem;
          height: 100%;
          border: solid 0.1rem #ffffff;

          .item--Tza {
            max-width: 49.4rem;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.15;
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
          }
        }
      }
    }
    .item-1-5uU {
      height: 9.8rem;
      position: absolute;
      left: 21.1rem;
      top: 94.7rem;
      width: 72.2rem;

      .rectangle-31-Zpe {
        width: 9.8rem;
        height: 9.8rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #ffcc8d;
      }
      .rectangle-32-fsg {
        box-sizing: border-box;
        background-color: #92c2ba;
        width: 62.4rem;
        height: 9.8rem;
        position: absolute;
        left: 9.8rem;
        top: 0;
        border: solid 0.1rem #ffffff;
      }
      .item-10000-10000--Q4a {
        width: 61.6rem;
        top: 2rem;
        text-align: center;
        font-weight: 700;
        color: #000000;
        font-family: Arimo, 'Source Sans Pro';
        height: 6.5rem;
        position: absolute;
        left: 10.15rem;
        font-size: 1.4rem;
        line-height: 1.15;
      }
      .icons8-48-2-Zzz {
        height: 5rem;
        position: absolute;
        left: 2.4rem;
        top: 2.4rem;
        object-fit: cover;
        vertical-align: top;
        width: 5rem;
      }
      .item--skn {
        width: 9.2rem;
        height: 1.4rem;
        top: 7.4rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.15;
        position: absolute;
        left: 0.9rem;
        color: #000000;
        font-family: Arimo, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-gdv2-Mfx {
      height: 29.4rem;
      position: absolute;
      left: 20.65rem;
      top: 104.5rem;
      width: 72.65rem;

      .item-1-seJ {
        width: 72.2rem;
        height: 9.8rem;
        position: absolute;
        left: 0.45rem;
        top: 0;
        display: flex;
        align-items: center;

        .auto-group-upev-mDt {
          background-color: #ffcc8d;
          height: 100%;
          display: flex;
          flex-direction: column;
          border: solid 0.1rem #000000;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 1.85rem 0.4rem 1.85rem;
          width: 9.8rem;
          align-items: center;

          .free-icon-working-conditions-8062223-2-sGv {
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 5rem;
          }
          .item--bTp {
            line-height: 1.15;
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 6.1rem;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 700;
          }
        }
        .rectangle-32-4sC {
          height: 9.8rem;
          border: solid 0.1rem #ffffff;
          box-sizing: border-box;
          background-color: #92c2ba;
          flex-shrink: 0;
          width: 62.4rem;
        }
      }
      .item-1-11k {
        width: 72.2rem;
        height: 9.8rem;
        position: absolute;
        left: 0.45rem;
        top: 9.8rem;
        display: flex;
        align-items: center;

        .auto-group-tgmp-Hjx {
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          width: 9.8rem;
          height: 100%;
          background-color: #ffcc8d;
          flex-shrink: 0;
          padding: 2.4rem 2.4rem 0.5rem 2.4rem;
          align-items: center;
          border: solid 0.1rem #000000;

          .free-icon-foster-family-3636519-2-oyC {
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
          }
          .item--KwY {
            font-family: Arimo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 0.1rem;
            text-align: center;
            line-height: 1.15;
            white-space: nowrap;
            font-size: 1.2rem;
            font-weight: 700;
            color: #000000;
          }
        }
        .rectangle-32-DX8 {
          width: 62.4rem;
          height: 9.8rem;
          border: solid 0.1rem #ffffff;
          box-sizing: border-box;
          background-color: #92c2ba;
          flex-shrink: 0;
        }
      }
      .item-1-M7Y {
        align-items: center;
        width: 72.2rem;
        height: 9.8rem;
        position: absolute;
        left: 0.45rem;
        top: 19.6rem;
        display: flex;

        .auto-group-eydy-r4J {
          border: solid 0.1rem #000000;
          background-color: #ffcc8d;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.4rem;
          height: 100%;

          .free-icon-life-insurance-1518636-2-oES {
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-5hgv-Wee {
          box-sizing: border-box;
          padding: 2rem 6.9rem 1.3rem 6.1rem;
          width: 62.4rem;
          height: 100%;
          border: solid 0.1rem #ffffff;
          background-color: #92c2ba;
          flex-shrink: 0;

          .item--qS2 {
            font-family: Arimo, 'Source Sans Pro';
            max-width: 49.4rem;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.15;
            color: #000000;
          }
        }
      }
      .item--FGn {
        color: #000000;
        width: 10.6rem;
        left: 0;
        top: 27.5rem;
        line-height: 1.15;
        font-weight: 700;
        font-family: Arimo, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.4rem;
        position: absolute;
        text-align: center;
        font-size: 1.2rem;
      }
      .item--vti {
        top: 2.5rem;
        font-size: 1.4rem;
        width: 34.4rem;
        height: 8.1rem;
        left: 24.2rem;
        line-height: 1.15;
        color: #000000;
        font-family: Arimo, 'Source Sans Pro';
        position: absolute;
        text-align: center;
        font-weight: 700;
      }
      .item-1000-15-50--E2E {
        position: absolute;
        top: 11.8rem;
        font-weight: 700;
        font-family: Arimo, 'Source Sans Pro';
        width: 50.1rem;
        height: 8.1rem;
        left: 16.6rem;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.15;
        color: #000000;
      }
    }
    .item-1-nbU {
      align-items: center;
      width: 72.2rem;
      height: 9.8rem;
      position: absolute;
      left: 21.1rem;
      top: 133.9rem;
      display: flex;

      .auto-group-fz9c-UjC {
        padding: 2.4rem 0.5rem 0.5rem 0.5rem;
        height: 100%;
        align-items: center;
        display: flex;
        background-color: #ffcc8d;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 9.8rem;
        flex-direction: column;
        border: solid 0.1rem #000000;

        .free-icon-social-8107513-2-BtW {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          width: 5rem;
          height: 5rem;
        }
        .item--i7k {
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.2rem;
          font-weight: 700;
        }
      }
      .auto-group-d6q2-bSS {
        width: 62.4rem;
        height: 100%;
        border: solid 0.1rem #ffffff;
        background-color: #92c2ba;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2rem 6.9rem 1.3rem 6.1rem;

        .item--KdL {
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          max-width: 49.4rem;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.15;
        }
      }
    }
    .item-1-Lgr {
      align-items: center;
      width: 72.2rem;
      height: 9.8rem;
      position: absolute;
      left: 21.1rem;
      top: 143.7rem;
      display: flex;

      .auto-group-cywv-2pa {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.4rem 1.65rem 0.5rem 1.65rem;
        height: 100%;
        background-color: #ffcc8d;
        border: solid 0.1rem #000000;
        width: 9.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .free-icon-ecology-2823549-2-YY2 {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          width: 5rem;
          height: 5rem;
        }
        .item--fce {
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.2rem;
          font-weight: 700;
        }
      }
      .auto-group-gtan-8m8 {
        box-sizing: border-box;
        padding: 2rem 6.9rem 1.3rem 6.1rem;
        width: 62.4rem;
        height: 100%;
        border: solid 0.1rem #ffffff;
        background-color: #92c2ba;
        flex-shrink: 0;

        .item--qvS {
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          max-width: 49.4rem;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.15;
        }
      }
    }
    .auto-group-hbsi-fHC {
      top: 153.5rem;
      width: 72.2rem;
      height: 19.6rem;
      position: absolute;
      left: 21.1rem;

      .item-1-n6v {
        display: flex;
        align-items: center;
        width: 72.2rem;
        height: 9.8rem;
        position: absolute;
        left: 0;
        top: 0;

        .auto-group-tsy8-gTC {
          padding: 2rem 2.4rem 2.8rem 2.4rem;
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffcc8d;
          flex-shrink: 0;
          box-sizing: border-box;

          .free-icon-ecommerce-1126691-2-CgS {
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
            width: 5rem;
          }
        }
        .auto-group-nytg-uqk {
          background-color: #92c2ba;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2rem 6.9rem 1.3rem 6.1rem;
          width: 62.4rem;
          height: 100%;
          border: solid 0.1rem #ffffff;

          .item--2fU {
            line-height: 1.15;
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
            max-width: 49.4rem;
            font-size: 1.4rem;
            font-weight: 700;
          }
        }
      }
      .item-1-f6A {
        width: 72.2rem;
        height: 9.8rem;
        position: absolute;
        left: 0;
        top: 9.8rem;
        display: flex;
        align-items: center;

        .auto-group-q1px-xLA {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          border: solid 0.1rem #000000;
          padding: 2.4rem 0.75rem 1rem 0.75rem;
          width: 9.8rem;
          height: 100%;
          align-items: center;
          background-color: #ffcc8d;
          flex-shrink: 0;

          .free-icon-investment-6665917-2-4PC {
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item--PRU {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.15;
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
          }
        }
        .auto-group-sw5p-4Xc {
          background-color: #92c2ba;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2rem 6.9rem 1.3rem 6.1rem;
          width: 62.4rem;
          height: 100%;
          border: solid 0.1rem #ffffff;

          .item--AqY {
            font-family: Arimo, 'Source Sans Pro';
            max-width: 49.4rem;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.15;
            color: #000000;
          }
        }
      }
      .item--ann {
        line-height: 1.15;
        color: #000000;
        font-family: Arimo, 'Source Sans Pro';
        top: 7rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        width: 5.5rem;
        height: 4.2rem;
        position: absolute;
        left: 2.15rem;
      }
    }
    .auto-group-soai-EsL {
      left: 21.1rem;
      top: 173.1rem;
      width: 72.2rem;
      height: 19.6rem;
      position: absolute;

      .item-1-wWr {
        height: 9.8rem;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        width: 72.2rem;

        .auto-group-5gpc-3pn {
          box-sizing: border-box;
          padding: 1.4rem 2.4rem;
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffcc8d;
          flex-shrink: 0;

          .free-icon-doctor-3062992-2-yiS {
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-a2tu-h8e {
          box-sizing: border-box;
          padding: 2rem 6.9rem 1.3rem 6.1rem;
          width: 62.4rem;
          height: 100%;
          border: solid 0.1rem #ffffff;
          background-color: #92c2ba;
          flex-shrink: 0;

          .item--QHx {
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
            max-width: 49.4rem;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.15;
          }
        }
      }
      .item-1-2ie {
        position: absolute;
        left: 0;
        top: 9.8rem;
        display: flex;
        align-items: center;
        width: 72.2rem;
        height: 9.8rem;

        .auto-group-rgnv-7zz {
          background-color: #ffcc8d;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.4rem 1.3rem 0.5rem 1.2rem;
          width: 9.8rem;
          align-items: center;
          display: flex;
          height: 100%;
          flex-direction: column;
          border: solid 0.1rem #000000;

          .free-icon-public-transport-5280277-2-2s4 {
            margin: 0rem 0rem 0.5rem 0.1rem;
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item--Y4i {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.15;
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
          }
        }
        .auto-group-3qd8-2En {
          padding: 2rem 6.9rem 1.3rem 6.1rem;
          width: 62.4rem;
          height: 100%;
          border: solid 0.1rem #ffffff;
          background-color: #92c2ba;
          flex-shrink: 0;
          box-sizing: border-box;

          .item--LFU {
            max-width: 49.4rem;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.15;
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
          }
        }
      }
      .item--N5g {
        font-weight: 700;
        font-family: Arimo, 'Source Sans Pro';
        position: absolute;
        top: 6.4rem;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.15;
        color: #000000;
        width: 5.8rem;
        height: 4.2rem;
        left: 1.95rem;
      }
    }
    .auto-group-q6bk-RJr {
      top: 192.7rem;
      width: 72.2rem;
      height: 19.6rem;
      position: absolute;
      left: 21.1rem;

      .item-1-wnz {
        width: 72.2rem;
        height: 9.8rem;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;

        .auto-group-8mgn-rQA {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.4rem 2.4rem;
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffcc8d;

          .free-icon-cinema-1773609-2-PQ6 {
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-shw8-6pJ {
          box-sizing: border-box;
          padding: 2rem 6.9rem 1.3rem 6.1rem;
          width: 62.4rem;
          height: 100%;
          border: solid 0.1rem #ffffff;
          background-color: #92c2ba;
          flex-shrink: 0;

          .item--Rbg {
            line-height: 1.15;
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
            max-width: 49.4rem;
            font-size: 1.4rem;
            font-weight: 700;
          }
        }
      }
      .item-1-3mU {
        width: 72.2rem;
        height: 9.8rem;
        position: absolute;
        left: 0;
        top: 9.8rem;
        display: flex;
        align-items: center;

        .auto-group-29yl-wbx {
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffcc8d;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.4rem 1.75rem 0.5rem 1.75rem;
          width: 9.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .free-icon-calculator-2488864-2-Fce {
            margin-bottom: 0.5rem;
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item--BFQ {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.15;
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
          }
        }
        .auto-group-jgca-Gne {
          box-sizing: border-box;
          padding: 2rem 6.9rem 1.3rem 6.1rem;
          width: 62.4rem;
          height: 100%;
          border: solid 0.1rem #ffffff;
          background-color: #92c2ba;
          flex-shrink: 0;

          .item--Buc {
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
            max-width: 49.4rem;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.15;
          }
        }
      }
      .item--2Hx {
        font-size: 1.2rem;
        font-weight: 700;
        color: #000000;
        height: 4.2rem;
        position: absolute;
        left: 1.7rem;
        top: 6.7rem;
        text-align: center;
        font-family: Arimo, 'Source Sans Pro';
        width: 6.6rem;
        line-height: 1.15;
      }
    }
    .item-1-JFU {
      height: 9.8rem;
      position: absolute;
      left: 21.1rem;
      top: 212.3rem;
      display: flex;
      align-items: center;
      width: 72.2rem;

      .auto-group-1blv-bVU {
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;
        border: solid 0.1rem #000000;
        display: flex;
        flex-direction: column;
        background-color: #ffcc8d;
        padding: 2.4rem 1rem 0.5rem 1.1rem;
        width: 9.8rem;
        align-items: center;

        .free-icon-innovation-3488893-2-X8E {
          margin: 0rem 0.1rem 0.5rem 0rem;
          width: 5rem;
          height: 5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item--EoL {
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.2rem;
          font-weight: 700;
        }
      }
      .auto-group-rvjw-XXY {
        width: 62.4rem;
        height: 100%;
        border: solid 0.1rem #ffffff;
        background-color: #92c2ba;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2rem 6.9rem 1.3rem 6.1rem;

        .item--FyL {
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          max-width: 49.4rem;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.15;
        }
      }
    }
    .auto-group-kybg-5qt {
      height: 19.6rem;
      position: absolute;
      left: 21.1rem;
      top: 222.1rem;
      width: 72.2rem;

      .item-1-QdG {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        width: 72.2rem;
        height: 9.8rem;

        .auto-group-9rpn-7na {
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffcc8d;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.5rem 2.4rem;

          .free-icon-ecommerce-3829391-2-TrS {
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-omns-yZt {
          box-sizing: border-box;
          padding: 2rem 6.9rem 1.3rem 6.1rem;
          width: 62.4rem;
          height: 100%;
          border: solid 0.1rem #ffffff;
          background-color: #92c2ba;
          flex-shrink: 0;

          .item--JMG {
            max-width: 49.4rem;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.15;
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
          }
        }
      }
      .item-1-jqt {
        width: 72.2rem;
        height: 9.8rem;
        position: absolute;
        left: 0;
        top: 9.8rem;
        display: flex;
        align-items: center;

        .auto-group-uqnj-F3Y {
          box-sizing: border-box;
          padding: 2.4rem 2.4rem 0.5rem 2.4rem;
          flex-direction: column;
          border: solid 0.1rem #000000;
          width: 9.8rem;
          height: 100%;
          align-items: center;
          display: flex;
          background-color: #ffcc8d;
          flex-shrink: 0;

          .free-icon-house-7100328-2-xCr {
            margin-bottom: 0.5rem;
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item--tMQ {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.15;
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
          }
        }
        .auto-group-amfx-z9Y {
          padding: 2rem 6.9rem 1.3rem 6.1rem;
          width: 62.4rem;
          height: 100%;
          border: solid 0.1rem #ffffff;
          background-color: #92c2ba;
          flex-shrink: 0;
          box-sizing: border-box;

          .item--iLS {
            font-family: Arimo, 'Source Sans Pro';
            max-width: 49.4rem;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.15;
            color: #000000;
          }
        }
      }
      .item--M22 {
        height: 4.2rem;
        left: 1.45rem;
        top: 6.5rem;
        font-size: 1.2rem;
        font-weight: 700;
        color: #000000;
        width: 6.7rem;
        position: absolute;
        text-align: center;
        line-height: 1.15;
        font-family: Arimo, 'Source Sans Pro';
      }
    }
    .item-1-ouc {
      height: 9.8rem;
      position: absolute;
      left: 21.1rem;
      top: 241.7rem;
      display: flex;
      align-items: center;
      width: 72.2rem;

      .auto-group-zd6s-JrN {
        box-sizing: border-box;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #ffcc8d;
        padding: 2.4rem 0.2rem 0.5rem 0.3rem;
        width: 9.8rem;
        height: 100%;
        border: solid 0.1rem #000000;
        flex-shrink: 0;

        .free-icon-coat-of-arms-2251898-2-ppi {
          margin: 0rem 0.1rem 0.5rem 0rem;
          width: 5rem;
          height: 5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item--8qQ {
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 1.15;
        }
      }
      .auto-group-7amg-RJi {
        background-color: #92c2ba;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2rem 6.9rem 1.3rem 6.1rem;
        width: 62.4rem;
        height: 100%;
        border: solid 0.1rem #ffffff;

        .item--wXx {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          max-width: 49.4rem;
        }
      }
    }
  }
}
