
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 114rem;
}.item--iDQ {
  box-sizing: border-box;
  padding-bottom: 57.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--iDQ .item--nUA {
  box-sizing: border-box;
  padding: 1.4rem 1.7rem 1.9rem 1.8rem;
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  border: solid 0 #000000;
  background-color: #ffcc8d;
  flex-shrink: 0;
}
.item--iDQ .item--nUA .item--5iA {
  margin: 0.7rem 1.2rem 0rem 0rem;
  width: 2.5rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--iDQ .item--nUA .item--yoY {
  margin-right: 54.6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.155;
  color: #1f4c6a;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--iDQ .item--nUA .item--HpE {
  margin: 0.9rem 9.1rem 0.3rem 0rem;
  width: 8.3rem;
  height: calc(100% - 1.2rem);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #1f4c6a;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #1f4c6a;
  box-sizing: border-box;
  border-radius: 2.9rem;
  flex-shrink: 0;
}
.item--iDQ .item--nUA .item--uai {
  margin: 0.9rem 9.1rem 0.3rem 0rem;
  width: 8.3rem;
  height: calc(100% - 1.2rem);
  position: relative;
  border: solid 0.1rem #1f4c6a;
  box-sizing: border-box;
  border-radius: 2.9rem;
  flex-shrink: 0;
}
.item--iDQ .item--nUA .item--uai .item--QXU {
  width: 5.3rem;
  height: 1.7rem;
  position: absolute;
  left: 1.9rem;
  top: 0.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #1f4c6a;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iDQ .item--nUA .item--uai .item--6v6 {
  width: 8.3rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #1f4c6a;
  box-sizing: border-box;
  border-radius: 2.9rem;
}
.item--iDQ .item--nUA .item--uai .item--6v6 .item--DE2 {
  width: 5.3rem;
  height: 1.7rem;
  position: absolute;
  left: 1.9rem;
  top: 0.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #1f4c6a;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iDQ .item--nUA .item--uai .item--6v6 .item--WU2 {
  width: 8.3rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #1f4c6a;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.9rem;
}
.item--iDQ .item--nUA .item--6h8 {
  margin: 0.9rem 0rem 0.3rem 0rem;
  box-sizing: border-box;
  padding: 0.4rem 0rem 0.4rem 1.1rem;
  height: calc(100% - 1.2rem);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #1f4c6a;
  border-radius: 2.9rem;
  flex-shrink: 0;
}
.item--iDQ .auto-group-5bmk-gvE {
  width: 100%;
  height: 79.7rem;
  position: relative;
  flex-shrink: 0;
}
.item--iDQ .auto-group-5bmk-gvE .item--D9U {
  width: 114rem;
  height: 45rem;
  position: absolute;
  left: 0;
  top: 0;
}
.item--iDQ .auto-group-5bmk-gvE .item--D9U .rectangle-3-vZg {
  width: 114rem;
  height: 41.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffcc8d;
}
.item--iDQ .auto-group-5bmk-gvE .item--D9U .item--4vn {
  width: 34.4rem;
  height: 2.3rem;
  position: absolute;
  left: 76.6rem;
  top: 23.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iDQ .auto-group-5bmk-gvE .item--D9U .item--ikS {
  width: 18.1rem;
  height: 7.4rem;
  position: absolute;
  left: 80.8rem;
  top: 14.8rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.155;
  color: #1f4c6a;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iDQ .auto-group-5bmk-gvE .item--D9U .item--ECz {
  width: 60rem;
  height: 37.8rem;
  position: absolute;
  left: 3.1rem;
  top: 7.2rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.155;
  color: #000000;
  font-family: Yeseva One, 'Source Sans Pro';
}
.item--iDQ .auto-group-5bmk-gvE .item--D9U .item--ECz .item--ECz-sub-0 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.155;
  color: #1f4c6a;
  font-family: Yeseva One, 'Source Sans Pro';
}
.item--iDQ .auto-group-5bmk-gvE .item--D9U .item--ECz .item--ECz-sub-1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.155;
  color: #000000;
  font-family: Yeseva One, 'Source Sans Pro';
}
.item--iDQ .auto-group-5bmk-gvE .item--D9U .item--ECz .item--ECz-sub-2 {
}
.item--iDQ .auto-group-5bmk-gvE .item--D9U .item--ECz .item--ECz-sub-3 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-5bmk-gvE .rectangle-30-2yQ {
  width: 114rem;
  height: 38.6rem;
  position: absolute;
  left: 0;
  top: 41.1rem;
  background-color: #ffffff;
}
.item--iDQ .auto-group-5bmk-gvE .item--kuQ {
  width: 24rem;
  height: 6.9rem;
  position: absolute;
  left: 16.45rem;
  top: 63.6rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-5bmk-gvE .free-icon-globe-1533333-1-42v {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 23.5rem;
  top: 47.2rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-5bmk-gvE .item--mi2 {
  width: 20.8rem;
  height: 2rem;
  position: absolute;
  left: 18.1rem;
  top: 57.8rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.155;
  color: #1f4c6a;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iDQ .auto-group-5bmk-gvE .item--SpA {
  width: 8.8rem;
  height: 2rem;
  position: absolute;
  left: 52.6rem;
  top: 57.8rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.155;
  color: #1f4c6a;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iDQ .auto-group-5bmk-gvE .item--8S6 {
  width: 11.6rem;
  height: 2rem;
  position: absolute;
  left: 79.6rem;
  top: 57.8rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.155;
  color: #1f4c6a;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iDQ .auto-group-5bmk-gvE .line-7-ppi {
  width: 23rem;
  height: 0.1rem;
  position: absolute;
  left: 16.9rem;
  top: 60.3rem;
  background-color: #000000;
}
.item--iDQ .auto-group-5bmk-gvE .line-8-xR8 {
  width: 13rem;
  height: 0.1rem;
  position: absolute;
  left: 50.5rem;
  top: 60.3rem;
  background-color: #000000;
}
.item--iDQ .auto-group-5bmk-gvE .line-9-t3t {
  width: 15rem;
  height: 0.1rem;
  position: absolute;
  left: 78rem;
  top: 60.3rem;
  background-color: #000000;
}
.item--iDQ .auto-group-5bmk-gvE .item-16--1eJ {
  width: 22rem;
  height: 9.7rem;
  position: absolute;
  left: 45.95rem;
  top: 62.9rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-5bmk-gvE .item--51t {
  width: 20.3rem;
  height: 13.8rem;
  position: absolute;
  left: 75.3rem;
  top: 61.6rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-5bmk-gvE .free-icon-clipboard-871947-1-d5L {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 52rem;
  top: 47.2rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-5bmk-gvE .free-icon-information-932010-1-M1L {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 80.5rem;
  top: 47.2rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J {
  width: 100%;
  height: 496.5rem;
  position: relative;
  background-color: #92c2ba;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen {
  width: 99.6rem;
  height: 59.7rem;
  position: absolute;
  left: 7.3rem;
  top: 10.2rem;
  display: flex;
  align-items: center;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-dtmx-J4z {
  margin-right: 7.2rem;
  width: 25rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-dtmx-J4z .auto-group-tnmy-SBC {
  margin-bottom: 8.3rem;
  width: 100%;
  height: 25.8rem;
  position: relative;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-dtmx-J4z .auto-group-tnmy-SBC .mask-group-mjG {
  width: 25rem;
  height: 25rem;
  position: absolute;
  left: 0;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-dtmx-J4z .auto-group-tnmy-SBC .ellipse-3-uKg {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 19.4rem;
  top: 0;
  border: solid 0.1rem #1f4c6a;
  box-sizing: border-box;
  background-color: rgba(31, 76, 106, 0);
  border-radius: 1.75rem;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-dtmx-J4z .auto-group-tnmy-SBC .item-1-QGS {
  width: 0.9rem;
  height: 2.4rem;
  position: absolute;
  left: 20.7rem;
  top: 0.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.155;
  color: #1f4c6a;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-dtmx-J4z .auto-group-tnmy-SBC .item--VYn {
  width: 14.5rem;
  height: 6rem;
  position: absolute;
  left: 6.55rem;
  top: 9.3rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-dtmx-J4z .auto-group-quen-WTt {
  width: 100%;
  height: 25.6rem;
  position: relative;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-dtmx-J4z .auto-group-quen-WTt .mask-group-TP8 {
  width: 25rem;
  height: 25rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  object-fit: contain;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-dtmx-J4z .auto-group-quen-WTt .ellipse-6-Q3U {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 19.4rem;
  top: 0;
  border: solid 0.1rem #1f4c6a;
  box-sizing: border-box;
  background-color: rgba(31, 76, 106, 0);
  border-radius: 1.75rem;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-dtmx-J4z .auto-group-quen-WTt .item-4-WsC {
  width: 1.2rem;
  height: 2.4rem;
  position: absolute;
  left: 20.6rem;
  top: 0.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.155;
  color: #1f4c6a;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-dtmx-J4z .auto-group-quen-WTt .item--pcz {
  width: 12.8rem;
  height: 6rem;
  position: absolute;
  left: 7.35rem;
  top: 8.2rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ {
  margin: 12.7rem 7.4rem 12rem 0rem;
  width: 35rem;
  height: calc(100% - 24.7rem);
  position: relative;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .ellipse-1-v3k {
  width: 6.5328rem;
  height: 6.5328rem;
  position: absolute;
  left: 19.9738rem;
  top: 0.3754rem;
  object-fit: contain;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .ellipse-1-eVY {
  width: 7.0711rem;
  height: 7.0711rem;
  position: absolute;
  left: 24.571rem;
  top: 3.3579rem;
  object-fit: contain;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .ellipse-1-nbk {
  width: 6.5328rem;
  height: 6.5328rem;
  position: absolute;
  left: 28.0806rem;
  top: 8.5rem;
  object-fit: contain;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .ellipse-1-Jpz {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 30rem;
  top: 15rem;
  background-color: #ffcc8d;
  border-radius: 2.5rem;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .ellipse-1-SAW {
  width: 6.5328rem;
  height: 6.5328rem;
  position: absolute;
  left: 28.0918rem;
  top: 19.9738rem;
  object-fit: contain;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .ellipse-1-mia {
  width: 7.071rem;
  height: 7.0711rem;
  position: absolute;
  left: 24.5711rem;
  top: 24.5711rem;
  object-fit: contain;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .ellipse-1-i82 {
  width: 6.5328rem;
  height: 6.5328rem;
  position: absolute;
  left: 19.9738rem;
  top: 28.0918rem;
  object-fit: contain;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .ellipse-1-FNr {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 15rem;
  top: 30rem;
  background-color: #ffcc8d;
  border-radius: 2.5rem;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .ellipse-1-Ysk {
  width: 6.5328rem;
  height: 6.5328rem;
  position: absolute;
  left: 8.4806rem;
  top: 28.1172rem;
  object-fit: contain;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .ellipse-1-Gok {
  width: 7.0711rem;
  height: 7.0711rem;
  position: absolute;
  left: 3.3579rem;
  top: 24.5711rem;
  object-fit: contain;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .ellipse-1-1WS {
  width: 6.5328rem;
  height: 6.5328rem;
  position: absolute;
  left: 0.3754rem;
  top: 19.9738rem;
  object-fit: contain;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .ellipse-1-YWN {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 0;
  top: 15rem;
  background-color: #ffcc8d;
  border-radius: 2.5rem;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .ellipse-1-tKL {
  width: 6.5328rem;
  height: 6.5328rem;
  position: absolute;
  left: 0.3754rem;
  top: 8.4933rem;
  object-fit: contain;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .ellipse-1-pyg {
  width: 7.071rem;
  height: 7.0711rem;
  position: absolute;
  left: 3.3579rem;
  top: 3.3579rem;
  object-fit: contain;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .ellipse-1-NEW {
  width: 6.5328rem;
  height: 6.5328rem;
  position: absolute;
  left: 8.4934rem;
  top: 0.3754rem;
  object-fit: contain;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .ellipse-1-Va2 {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 15rem;
  top: 0;
  border: solid 0.5rem #ffffff;
  box-sizing: border-box;
  background-color: #ffcc8d;
  border-radius: 2.5rem;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .ellipse-2-1YN {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 15rem;
  top: 14.95rem;
  background-color: #ffcc8d;
  border-radius: 2.5rem;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .icons8-48-1-jUN {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 21.5rem;
  top: 1.9rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .free-icon-economy-5403444-1-erE {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 15.75rem;
  top: 0.75rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .free-icon-foster-family-3636519-1-NXL {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 29.6rem;
  top: 10rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .free-icon-working-conditions-8062223-1-syt {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 26.35rem;
  top: 5rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .free-icon-life-insurance-1518636-1-PxE {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 30.75rem;
  top: 15.7rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .free-icon-ecology-2823549-1-uva {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 26.35rem;
  top: 26.35rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .free-icon-ecommerce-1126691-1-q3Y {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 21.5rem;
  top: 29.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .free-icon-public-transport-5280277-1-Yie {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 5.15rem;
  top: 26.35rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .free-icon-doctor-3062992-1-sW2 {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 10rem;
  top: 29.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .free-icon-cinema-1773609-1-CHQ {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 1.9rem;
  top: 21.5rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .free-icon-investment-6665917-1-WYz {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 15.75rem;
  top: 30.75rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .free-icon-calculator-2488864-1-ddc {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 0.75rem;
  top: 15.7rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .free-icon-ecommerce-3829391-1-9rr {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 5.15rem;
  top: 5.15rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .free-icon-house-7100328-1-faJ {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 10rem;
  top: 1.9rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .free-icon-coat-of-arms-2251898-1-axA {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 15.75rem;
  top: 15.7rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .free-icon-innovation-3488893-1-JtA {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 1.9rem;
  top: 10rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .item--FiJ .free-icon-social-8107513-1-vHG {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 29.6rem;
  top: 21.5rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-t6we-Rzi {
  width: 25rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-t6we-Rzi .auto-group-omxn-a6v {
  margin-bottom: 8rem;
  width: 100%;
  height: 25.8rem;
  position: relative;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-t6we-Rzi .auto-group-omxn-a6v .mask-group-u9C {
  box-sizing: border-box;
  padding: 8.1rem 7.6rem 9.4rem 5.4rem;
  width: 25rem;
  height: 25rem;
  position: absolute;
  left: 0;
  top: 0.8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/auto-group-wc5p.png');
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-t6we-Rzi .auto-group-omxn-a6v .mask-group-u9C .item--PaA {
  max-width: 12rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-t6we-Rzi .auto-group-omxn-a6v .ellipse-4-o86 {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 2.2rem;
  top: 0;
  border: solid 0.1rem #1f4c6a;
  box-sizing: border-box;
  background-color: rgba(134, 151, 162, 0);
  border-radius: 1.75rem;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-t6we-Rzi .auto-group-omxn-a6v .item-2-Uk2 {
  width: 1.2rem;
  height: 2.4rem;
  position: absolute;
  left: 3.4rem;
  top: 0.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.155;
  color: #1f4c6a;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-t6we-Rzi .auto-group-yuxc-Ask {
  width: 100%;
  height: 25.9rem;
  position: relative;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-t6we-Rzi .auto-group-yuxc-Ask .mask-group-GQz {
  box-sizing: border-box;
  padding: 6.9rem 7.05rem 10.6rem 5.45rem;
  width: 25rem;
  height: 25rem;
  position: absolute;
  left: 0;
  top: 0.9rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/auto-group-qhbx.png');
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-t6we-Rzi .auto-group-yuxc-Ask .mask-group-GQz .item--8i6 {
  max-width: 12.5rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-t6we-Rzi .auto-group-yuxc-Ask .ellipse-5-ucN {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 2.2rem;
  top: 0;
  border: solid 0.1rem #1f4c6a;
  box-sizing: border-box;
  background-color: rgba(31, 76, 106, 0);
  border-radius: 1.75rem;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-ay3t-aen .auto-group-t6we-Rzi .auto-group-yuxc-Ask .item-3-pDY {
  width: 1.2rem;
  height: 2.4rem;
  position: absolute;
  left: 3.4rem;
  top: 0.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.155;
  color: #1f4c6a;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iDQ .auto-group-4fyk-G8J .item--KRC {
  width: 39rem;
  height: 3.7rem;
  position: absolute;
  left: 37.4rem;
  top: 1.9rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.155;
  color: #1f4c6a;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iDQ .auto-group-4fyk-G8J .item--zXL {
  width: 30.3rem;
  height: 3.7rem;
  position: absolute;
  left: 41.8rem;
  top: 75.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.155;
  color: #1f4c6a;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iDQ .auto-group-4fyk-G8J .line-10-UBc {
  width: 45rem;
  height: 0.2rem;
  position: absolute;
  left: 34.5rem;
  top: 6.4rem;
  background-color: #1f4c6a;
}
.item--iDQ .auto-group-4fyk-G8J .line-11-ojg {
  width: 45rem;
  height: 0.2rem;
  position: absolute;
  left: 34.5rem;
  top: 79.8rem;
  background-color: #1f4c6a;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-kQ2 {
  width: 72.2rem;
  height: 9.8rem;
  position: absolute;
  left: 21.1rem;
  top: 84.9rem;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-kQ2 .rectangle-31-TJS {
  width: 9.8rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-kQ2 .rectangle-32-nrW {
  width: 62.4rem;
  height: 9.8rem;
  position: absolute;
  left: 9.8rem;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-kQ2 .item-1-ikA {
  width: 72.2rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-kQ2 .item-1-ikA .auto-group-fd3q-poC {
  box-sizing: border-box;
  padding: 2.4rem 0.5rem 1rem 1.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffcc8d;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-kQ2 .item-1-ikA .auto-group-fd3q-poC .free-icon-economy-5403444-2-8Yz {
  margin-right: 1.1rem;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-kQ2 .item-1-ikA .auto-group-fd3q-poC .item--rE6 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-kQ2 .item-1-ikA .auto-group-em9c-jHt {
  box-sizing: border-box;
  padding: 2.5rem 6.55rem 0.8rem 6.45rem;
  height: 100%;
  border: solid 0.1rem #ffffff;
  background-color: #92c2ba;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-kQ2 .item-1-ikA .auto-group-em9c-jHt .item--Tza {
  max-width: 49.4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .item-1-5uU {
  width: 72.2rem;
  height: 9.8rem;
  position: absolute;
  left: 21.1rem;
  top: 94.7rem;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-5uU .rectangle-31-Zpe {
  width: 9.8rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffcc8d;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-5uU .rectangle-32-fsg {
  width: 62.4rem;
  height: 9.8rem;
  position: absolute;
  left: 9.8rem;
  top: 0;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #92c2ba;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-5uU .item-10000-10000--Q4a {
  width: 61.6rem;
  height: 6.5rem;
  position: absolute;
  left: 10.15rem;
  top: 2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .item-1-5uU .icons8-48-2-Zzz {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 2.4rem;
  top: 2.4rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-5uU .item--skn {
  width: 9.2rem;
  height: 1.4rem;
  position: absolute;
  left: 0.9rem;
  top: 7.4rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx {
  width: 72.65rem;
  height: 29.4rem;
  position: absolute;
  left: 20.65rem;
  top: 104.5rem;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx .item-1-seJ {
  width: 72.2rem;
  height: 9.8rem;
  position: absolute;
  left: 0.45rem;
  top: 0;
  display: flex;
  align-items: center;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx .item-1-seJ .auto-group-upev-mDt {
  box-sizing: border-box;
  padding: 1.6rem 1.85rem 0.4rem 1.85rem;
  width: 9.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffcc8d;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx .item-1-seJ .auto-group-upev-mDt .free-icon-working-conditions-8062223-2-sGv {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx .item-1-seJ .auto-group-upev-mDt .item--bTp {
  max-width: 6.1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx .item-1-seJ .rectangle-32-4sC {
  width: 62.4rem;
  height: 9.8rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #92c2ba;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx .item-1-11k {
  width: 72.2rem;
  height: 9.8rem;
  position: absolute;
  left: 0.45rem;
  top: 9.8rem;
  display: flex;
  align-items: center;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx .item-1-11k .auto-group-tgmp-Hjx {
  box-sizing: border-box;
  padding: 2.4rem 2.4rem 0.5rem 2.4rem;
  width: 9.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffcc8d;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx .item-1-11k .auto-group-tgmp-Hjx .free-icon-foster-family-3636519-2-oyC {
  margin-bottom: 0.5rem;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx .item-1-11k .auto-group-tgmp-Hjx .item--KwY {
  margin-right: 0.1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx .item-1-11k .rectangle-32-DX8 {
  width: 62.4rem;
  height: 9.8rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #92c2ba;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx .item-1-M7Y {
  width: 72.2rem;
  height: 9.8rem;
  position: absolute;
  left: 0.45rem;
  top: 19.6rem;
  display: flex;
  align-items: center;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx .item-1-M7Y .auto-group-eydy-r4J {
  box-sizing: border-box;
  padding: 2.4rem;
  height: 100%;
  border: solid 0.1rem #000000;
  background-color: #ffcc8d;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx .item-1-M7Y .auto-group-eydy-r4J .free-icon-life-insurance-1518636-2-oES {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx .item-1-M7Y .auto-group-5hgv-Wee {
  box-sizing: border-box;
  padding: 2rem 6.9rem 1.3rem 6.1rem;
  width: 62.4rem;
  height: 100%;
  border: solid 0.1rem #ffffff;
  background-color: #92c2ba;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx .item-1-M7Y .auto-group-5hgv-Wee .item--qS2 {
  max-width: 49.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx .item--FGn {
  width: 10.6rem;
  height: 1.4rem;
  position: absolute;
  left: 0;
  top: 27.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx .item--vti {
  width: 34.4rem;
  height: 8.1rem;
  position: absolute;
  left: 24.2rem;
  top: 2.5rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-gdv2-Mfx .item-1000-15-50--E2E {
  width: 50.1rem;
  height: 8.1rem;
  position: absolute;
  left: 16.6rem;
  top: 11.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .item-1-nbU {
  width: 72.2rem;
  height: 9.8rem;
  position: absolute;
  left: 21.1rem;
  top: 133.9rem;
  display: flex;
  align-items: center;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-nbU .auto-group-fz9c-UjC {
  box-sizing: border-box;
  padding: 2.4rem 0.5rem 0.5rem 0.5rem;
  width: 9.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffcc8d;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-nbU .auto-group-fz9c-UjC .free-icon-social-8107513-2-BtW {
  margin-bottom: 0.5rem;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-nbU .auto-group-fz9c-UjC .item--i7k {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-nbU .auto-group-d6q2-bSS {
  box-sizing: border-box;
  padding: 2rem 6.9rem 1.3rem 6.1rem;
  width: 62.4rem;
  height: 100%;
  border: solid 0.1rem #ffffff;
  background-color: #92c2ba;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-nbU .auto-group-d6q2-bSS .item--KdL {
  max-width: 49.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .item-1-Lgr {
  width: 72.2rem;
  height: 9.8rem;
  position: absolute;
  left: 21.1rem;
  top: 143.7rem;
  display: flex;
  align-items: center;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-Lgr .auto-group-cywv-2pa {
  box-sizing: border-box;
  padding: 2.4rem 1.65rem 0.5rem 1.65rem;
  width: 9.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffcc8d;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-Lgr .auto-group-cywv-2pa .free-icon-ecology-2823549-2-YY2 {
  margin-bottom: 0.5rem;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-Lgr .auto-group-cywv-2pa .item--fce {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-Lgr .auto-group-gtan-8m8 {
  box-sizing: border-box;
  padding: 2rem 6.9rem 1.3rem 6.1rem;
  width: 62.4rem;
  height: 100%;
  border: solid 0.1rem #ffffff;
  background-color: #92c2ba;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-Lgr .auto-group-gtan-8m8 .item--qvS {
  max-width: 49.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-hbsi-fHC {
  width: 72.2rem;
  height: 19.6rem;
  position: absolute;
  left: 21.1rem;
  top: 153.5rem;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-hbsi-fHC .item-1-n6v {
  width: 72.2rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-hbsi-fHC .item-1-n6v .auto-group-tsy8-gTC {
  box-sizing: border-box;
  padding: 2rem 2.4rem 2.8rem 2.4rem;
  height: 100%;
  border: solid 0.1rem #000000;
  background-color: #ffcc8d;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-hbsi-fHC .item-1-n6v .auto-group-tsy8-gTC .free-icon-ecommerce-1126691-2-CgS {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-hbsi-fHC .item-1-n6v .auto-group-nytg-uqk {
  box-sizing: border-box;
  padding: 2rem 6.9rem 1.3rem 6.1rem;
  width: 62.4rem;
  height: 100%;
  border: solid 0.1rem #ffffff;
  background-color: #92c2ba;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-hbsi-fHC .item-1-n6v .auto-group-nytg-uqk .item--2fU {
  max-width: 49.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-hbsi-fHC .item-1-f6A {
  width: 72.2rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 9.8rem;
  display: flex;
  align-items: center;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-hbsi-fHC .item-1-f6A .auto-group-q1px-xLA {
  box-sizing: border-box;
  padding: 2.4rem 0.75rem 1rem 0.75rem;
  width: 9.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffcc8d;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-hbsi-fHC .item-1-f6A .auto-group-q1px-xLA .free-icon-investment-6665917-2-4PC {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-hbsi-fHC .item-1-f6A .auto-group-q1px-xLA .item--PRU {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-hbsi-fHC .item-1-f6A .auto-group-sw5p-4Xc {
  box-sizing: border-box;
  padding: 2rem 6.9rem 1.3rem 6.1rem;
  width: 62.4rem;
  height: 100%;
  border: solid 0.1rem #ffffff;
  background-color: #92c2ba;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-hbsi-fHC .item-1-f6A .auto-group-sw5p-4Xc .item--AqY {
  max-width: 49.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-hbsi-fHC .item--ann {
  width: 5.5rem;
  height: 4.2rem;
  position: absolute;
  left: 2.15rem;
  top: 7rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-soai-EsL {
  width: 72.2rem;
  height: 19.6rem;
  position: absolute;
  left: 21.1rem;
  top: 173.1rem;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-soai-EsL .item-1-wWr {
  width: 72.2rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-soai-EsL .item-1-wWr .auto-group-5gpc-3pn {
  box-sizing: border-box;
  padding: 1.4rem 2.4rem;
  height: 100%;
  border: solid 0.1rem #000000;
  background-color: #ffcc8d;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-soai-EsL .item-1-wWr .auto-group-5gpc-3pn .free-icon-doctor-3062992-2-yiS {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-soai-EsL .item-1-wWr .auto-group-a2tu-h8e {
  box-sizing: border-box;
  padding: 2rem 6.9rem 1.3rem 6.1rem;
  width: 62.4rem;
  height: 100%;
  border: solid 0.1rem #ffffff;
  background-color: #92c2ba;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-soai-EsL .item-1-wWr .auto-group-a2tu-h8e .item--QHx {
  max-width: 49.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-soai-EsL .item-1-2ie {
  width: 72.2rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 9.8rem;
  display: flex;
  align-items: center;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-soai-EsL .item-1-2ie .auto-group-rgnv-7zz {
  box-sizing: border-box;
  padding: 2.4rem 1.3rem 0.5rem 1.2rem;
  width: 9.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffcc8d;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-soai-EsL .item-1-2ie .auto-group-rgnv-7zz .free-icon-public-transport-5280277-2-2s4 {
  margin: 0rem 0rem 0.5rem 0.1rem;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-soai-EsL .item-1-2ie .auto-group-rgnv-7zz .item--Y4i {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-soai-EsL .item-1-2ie .auto-group-3qd8-2En {
  box-sizing: border-box;
  padding: 2rem 6.9rem 1.3rem 6.1rem;
  width: 62.4rem;
  height: 100%;
  border: solid 0.1rem #ffffff;
  background-color: #92c2ba;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-soai-EsL .item-1-2ie .auto-group-3qd8-2En .item--LFU {
  max-width: 49.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-soai-EsL .item--N5g {
  width: 5.8rem;
  height: 4.2rem;
  position: absolute;
  left: 1.95rem;
  top: 6.4rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-q6bk-RJr {
  width: 72.2rem;
  height: 19.6rem;
  position: absolute;
  left: 21.1rem;
  top: 192.7rem;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-q6bk-RJr .item-1-wnz {
  width: 72.2rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-q6bk-RJr .item-1-wnz .auto-group-8mgn-rQA {
  box-sizing: border-box;
  padding: 1.4rem 2.4rem;
  height: 100%;
  border: solid 0.1rem #000000;
  background-color: #ffcc8d;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-q6bk-RJr .item-1-wnz .auto-group-8mgn-rQA .free-icon-cinema-1773609-2-PQ6 {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-q6bk-RJr .item-1-wnz .auto-group-shw8-6pJ {
  box-sizing: border-box;
  padding: 2rem 6.9rem 1.3rem 6.1rem;
  width: 62.4rem;
  height: 100%;
  border: solid 0.1rem #ffffff;
  background-color: #92c2ba;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-q6bk-RJr .item-1-wnz .auto-group-shw8-6pJ .item--Rbg {
  max-width: 49.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-q6bk-RJr .item-1-3mU {
  width: 72.2rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 9.8rem;
  display: flex;
  align-items: center;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-q6bk-RJr .item-1-3mU .auto-group-29yl-wbx {
  box-sizing: border-box;
  padding: 2.4rem 1.75rem 0.5rem 1.75rem;
  width: 9.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffcc8d;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-q6bk-RJr .item-1-3mU .auto-group-29yl-wbx .free-icon-calculator-2488864-2-Fce {
  margin-bottom: 0.5rem;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-q6bk-RJr .item-1-3mU .auto-group-29yl-wbx .item--BFQ {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-q6bk-RJr .item-1-3mU .auto-group-jgca-Gne {
  box-sizing: border-box;
  padding: 2rem 6.9rem 1.3rem 6.1rem;
  width: 62.4rem;
  height: 100%;
  border: solid 0.1rem #ffffff;
  background-color: #92c2ba;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-q6bk-RJr .item-1-3mU .auto-group-jgca-Gne .item--Buc {
  max-width: 49.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-q6bk-RJr .item--2Hx {
  width: 6.6rem;
  height: 4.2rem;
  position: absolute;
  left: 1.7rem;
  top: 6.7rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .item-1-JFU {
  width: 72.2rem;
  height: 9.8rem;
  position: absolute;
  left: 21.1rem;
  top: 212.3rem;
  display: flex;
  align-items: center;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-JFU .auto-group-1blv-bVU {
  box-sizing: border-box;
  padding: 2.4rem 1rem 0.5rem 1.1rem;
  width: 9.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffcc8d;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-JFU .auto-group-1blv-bVU .free-icon-innovation-3488893-2-X8E {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-JFU .auto-group-1blv-bVU .item--EoL {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-JFU .auto-group-rvjw-XXY {
  box-sizing: border-box;
  padding: 2rem 6.9rem 1.3rem 6.1rem;
  width: 62.4rem;
  height: 100%;
  border: solid 0.1rem #ffffff;
  background-color: #92c2ba;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-JFU .auto-group-rvjw-XXY .item--FyL {
  max-width: 49.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-kybg-5qt {
  width: 72.2rem;
  height: 19.6rem;
  position: absolute;
  left: 21.1rem;
  top: 222.1rem;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-kybg-5qt .item-1-QdG {
  width: 72.2rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-kybg-5qt .item-1-QdG .auto-group-9rpn-7na {
  box-sizing: border-box;
  padding: 1.5rem 2.4rem;
  height: 100%;
  border: solid 0.1rem #000000;
  background-color: #ffcc8d;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-kybg-5qt .item-1-QdG .auto-group-9rpn-7na .free-icon-ecommerce-3829391-2-TrS {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-kybg-5qt .item-1-QdG .auto-group-omns-yZt {
  box-sizing: border-box;
  padding: 2rem 6.9rem 1.3rem 6.1rem;
  width: 62.4rem;
  height: 100%;
  border: solid 0.1rem #ffffff;
  background-color: #92c2ba;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-kybg-5qt .item-1-QdG .auto-group-omns-yZt .item--JMG {
  max-width: 49.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-kybg-5qt .item-1-jqt {
  width: 72.2rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 9.8rem;
  display: flex;
  align-items: center;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-kybg-5qt .item-1-jqt .auto-group-uqnj-F3Y {
  box-sizing: border-box;
  padding: 2.4rem 2.4rem 0.5rem 2.4rem;
  width: 9.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffcc8d;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-kybg-5qt .item-1-jqt .auto-group-uqnj-F3Y .free-icon-house-7100328-2-xCr {
  margin-bottom: 0.5rem;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-kybg-5qt .item-1-jqt .auto-group-uqnj-F3Y .item--tMQ {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-kybg-5qt .item-1-jqt .auto-group-amfx-z9Y {
  box-sizing: border-box;
  padding: 2rem 6.9rem 1.3rem 6.1rem;
  width: 62.4rem;
  height: 100%;
  border: solid 0.1rem #ffffff;
  background-color: #92c2ba;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-kybg-5qt .item-1-jqt .auto-group-amfx-z9Y .item--iLS {
  max-width: 49.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .auto-group-kybg-5qt .item--M22 {
  width: 6.7rem;
  height: 4.2rem;
  position: absolute;
  left: 1.45rem;
  top: 6.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.item--iDQ .auto-group-4fyk-G8J .item-1-ouc {
  width: 72.2rem;
  height: 9.8rem;
  position: absolute;
  left: 21.1rem;
  top: 241.7rem;
  display: flex;
  align-items: center;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-ouc .auto-group-zd6s-JrN {
  box-sizing: border-box;
  padding: 2.4rem 0.2rem 0.5rem 0.3rem;
  width: 9.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffcc8d;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-ouc .auto-group-zd6s-JrN .free-icon-coat-of-arms-2251898-2-ppi {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-ouc .auto-group-zd6s-JrN .item--8qQ {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-ouc .auto-group-7amg-RJi {
  box-sizing: border-box;
  padding: 2rem 6.9rem 1.3rem 6.1rem;
  width: 62.4rem;
  height: 100%;
  border: solid 0.1rem #ffffff;
  background-color: #92c2ba;
  flex-shrink: 0;
}
.item--iDQ .auto-group-4fyk-G8J .item-1-ouc .auto-group-7amg-RJi .item--wXx {
  max-width: 49.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
