.jc_sa{
    justify-content: space-around;
}

.jc_c{
    justify-content: center;
}

.ji_c{
    justify-items: center;
}

.ac_c{
    align-content: center;
}

.d_g{
    display: grid;
}

.header-home{
    background: #FFCD8E;
}


main{
    width: 1140px;
    margin: auto;
}

.section_header{
    font-family: 'Yeseva One', serif;
}

.text_info{
    width: 607px;

    font-family: Arimo;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text_info span{
    font-family: Yeseva One;
    color: #1F4C6A;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


h1{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #1F4C6A;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info_name p {
    margin-top: 15px;
    color: #000;
    font-family: Arimo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info_name {
    padding-right: 108px;
}

.section_info{
    background-color: white;
    padding: 60px 0;
}

.atributs{
    color: #000;
    width: 300px;
    
    text-align: center;
    font-family: Arimo;
    font-size: 16px;
    font-weight: 400;
}

.atributs strong{
    color: #1F4C6A;
    font-family: Yeseva One;
    font-size: 17px;

    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.icon-info{
    padding-bottom: 8px;
}

.atributs p{
    height: 85px;
}

h2{
    margin: auto;
    color: #1F4C6A;
    font-family: Yeseva One;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    width: 450px;

    border-bottom: 2px solid black;
    padding-bottom: 8px;
}

.interactive_globe{
    background-color: #92C2BA;
    padding: 60px 0;
}

.reference_part{
    background-color: #92C2BA;
padding: 60px 0;
}